@{
    Layout = "_AdminLayout";
}
<!DOCTYPE html>

<html>

<body>

    <div class="text-center">
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1 class="display-4">请输入需要修改的会员信息，点击提交键保存</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <form method="post" action="@Url.Action("MemberLevelChange","AdminJob")">
            会员号：<input type="text" name="memberid" /><br />
            修改后会员等级：<input type="text" name="levelafter" /><br />
            <input type="submit" value="提交" />
        </form>
    </div>

</body>

</html>