@{
    Layout = "_AdminLayout";
}
<!DOCTYPE html>

<html>

<body>

    <div class="text-center">
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1 class="display-4">请输入需要添加的购物信息，点击提交键保存</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <form method="post" action="@Url.Action("RecordShopJob","AdminJob")">
            会员号：<input type="text" name="memberid" /><br />
            货号：<input type="text" name="goodid" /><br />
            数量：<input type="text" name="quantity" /><br />
            <input type="submit" value="提交" />
        </form>
    </div>

</body>

</html>