@{
    Layout = "_MemberLayout";
}
<!DOCTYPE html>

<html>

<body>

    <div class="text-center">
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1 class="display-4">尊敬的会员，欢迎来到会员子系统！</h1><br />
        <h1 class="display-4">👈请在左侧选择需要的功能</h1>
    </div>

</body>

</html>